@charset "UTF-8";

/* Estilo para Impressora */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}

menu {
    display: none;
    width: 100%;
}

article::after {
    content: 'Esse artigo é para estudo sobre Media Query.';
}
