@charset "UTF-8";

/* CSS Geral */

/*

Typical Device Breakpoint (W3C)
--------------------------
Telas Pequenas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px

*/

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    main {
        width: 550px;
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#tv { display: none; }
    img#pc { display: none; }
    img#imp { display: none; }
}

/* DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    main {
        width: 800px;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#tv { display: none; }
    img#pc { display: block; }
    img#imp { display: none; }

}

/* GRANDES TELAS */
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 1000px;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#tv { display: block; }
    img#pc { display: none; }
    img#imp { display: none; }
}

/* IMPRESSORA */
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;

    }

    body {
        background-image: url(../imagens/back-print.jpg); /* DESNECESSARIO, NÃO É IMPRESSO*/
    }

    main {
        width: 700px;
        border: 5px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão é conteudo do Curso em Video - Professor Guanabara';
        text-decoration: underline;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#tv { display: none; }
    img#pc { display: none; }
    img#imp { display: block; }
}