@charset "UTF-8";

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  background-color: #222;
  padding: 10px;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.menu li a:hover {
  color: yellow;
}
