@charset "UTF-8";

:root {
    --cor01: #9dc481;
    --cor02: #788569;
    --cor03: #d0e0b9;
    --cor04: #b3cea1;
    --cor05: #bddb91;

    /* #f6f3e6 */
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--cor05);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
header {
    background-color: var(--cor01);

    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}
section > div > img {
    height: auto;
    width: 30vw;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-flow: column nowrap;
}

.img-text {
    display: flex;

    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.text-img {
    display: flex;

    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: center;
}

.desc {
    background-color: var(--cor01);

    width: 80vw;

    padding: 20px;
    margin: 20px;

    border-radius: 25px;
    box-shadow: 3px 3px 4px var(--cor02);
}
/*
p {
    border: 2px dashed red;
}

img {
    border: 2 px dashed blue;
}*/
